[submodule "src/lds-common"]
	path = src/lds-common
	url = git@github.com:dev-lumanlab/Lumanlab_Common_Components.git
[submodule "src/constants/ldsConstants"]
	path = src/constants/ldsConstants
	url = git@github.com:dev-lumanlab/Lumanlab-Figma-Constants.git
