{
  "_comment0": "한 줄 최대 문자 수",
  "printWidth": 100,

  "_comment1": "들여쓰기 시, 탭 너비",
  "tabWidth": 2,

  "_comment2": "스페이스 대신 탭 사용",
  "useTabs": false,

  "_comment3": "문장 끝 세미콜론 사용",
  "semi": true,

  "_comment4": "작은 따옴표 사용",
  "singleQuote": false,

  "_comment5": "꼬리 콤마 사용",
  "trailingComma": "all",

  "_comment6": "중괄호 내에 공백 사용",
  "bracketSpacing": true,

  "_comment7": "화살표 함수 단일 인자 시, 괄호 생략",
  "arrowParens": "avoid",

  "_comment8": "마크다운 포매팅 제외",
  "proseWrap": "never",

  "_comment9": "개행문자 유지 (혼합일 경우, 첫 줄 개행문자로 통일)",
  "endOfLine": "auto"
}
