$main-color: #f00;

html {
  font-size: 2.6666vw;
}

@media (orientation: landscape) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, "Cafe24ClassicType-Regular", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* ***************************************************
 *
 * webview settings
 * 
 * -webkit-touch-callout: none;  사용자가 타겟을 터치하거나 꾹 누르는 경우(롱터치) 보여지는 기본 UI를 제어하는 속성 
 * -webkit-tap-highlight-color: transparent; 꾹 눌렀을때 또는 터치했을때의 영역 색상 
 * -webkit-user-select: none; 브라우저에서 드래그나 더블클릭을 사용한 텍스트 선택등을 막기 
 * **************************************************/

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

input {
  -webkit-user-select: auto;
  user-select: auto;
}

.scroll_lock {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden !important;
}

.notion-page-header {
  display: none !important;
}

.notion-page-offset {
  margin-top: 0 !important;
  padding: 0 2rem 10rem !important;
}
