$main-color: #f00;

html {
  font-size: 2.6666vw;
}
@media (orientation: landscape) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, "Cafe24ClassicType-Regular", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* ***************************************************
 *
 * webview settings
 * 
 * **************************************************/

* {
  -webkit-tap-highlight-color: "#fff";
  user-select: none;
  -webkit-touch-callout: none;

  /* Keyword values */
  -webkit-touch-callout: default;

  /* Global values */
  -webkit-touch-callout: initial;
  -webkit-touch-callout: inherit;
  -webkit-touch-callout: unset;
}

input {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.scroll_lock {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden !important;
}
