.router-wrapper {
  overflow: hidden;
}

.forward-from-right-enter {
  main {
    opacity: 0;
    transform: translateX(100%);
  }
}

.forward-from-right-enter-active {
  main {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
  }
}

.forward-from-right-exit {
  main {
    opacity: 1;
  }
}
.forward-from-right-exit-active {
  main {
    opacity: 0.3;
    transition: all 300ms;
  }
}

.back-to-right-enter {
  main {
    opacity: 0.3;
  }
}
.back-to-right-enter-active {
  main {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
  }
}

.back-to-right-exit {
  main {
    opacity: 1;
    transform: translateX(0);
  }
}

.back-to-right-exit-active {
  main {
    opacity: 0;
    transform: translate(100%);
    transition: all 300ms;
  }
}

.forward-from-bottom-enter {
  main {
    opacity: 0;
    transform: translateY(100%);
  }
}

.forward-from-bottom-enter-active {
  main {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms;
  }
}

.forward-from-bottom-exit {
  main {
    opacity: 1;
  }
}
.forward-from-bottom-exit-active {
  main {
    opacity: 0.3;
    transition: all 300ms;
  }
}

.back-to-bottom-enter {
  main {
    opacity: 0.3;
  }
}
.back-to-bottom-enter-active {
  main {
    opacity: 1;
    transition: all 300ms;
  }
}

.back-to-bottom-exit {
  main {
    opacity: 1;
    transform: translateY(0);
  }
}

.back-to-bottom-exit-active {
  main {
    opacity: 0;
    transform: translateY(100%);
    transition: all 300ms;
  }
}
